:root{
    --nav-bg: #fff; 
    --body-bg: #161616;
    --text-def: #fff;
    --text-inv: #000;

    --small-text: #8d99ae;
    --big-text: #8d99ae;
    --card-br: #212529;

    /* --nav-bg: #000; 
    --body-bg: #003566; 
    --body-bg1: #abc4ff
    
     --body-bg1: #3f5efb;
    */
} 

*{
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}
html{
    font-family: "Roboto", sans-serif;
    color: var(--big-text);
    background-color: var(--body-bg);

}
body{
    display: flex;
}
/* <----NAVIGATION----> */
nav{
    width: 15vw;
    height: 100vh;
    background-color: var(--nav-bg);

    display: flex;
    align-items: center;
}
ul.nav-tabs{
    width: 100%;
    list-style: none;
    color: #fff;
}
li.nav-item{
    margin: 5vh 0 5vh 2vw;

    padding: 1vh;
    border-radius: 100vw 0 0 100vw;
    display: flex;
    align-items: center;
    color: black;
}
span.material-symbols-outlined{
    font-size: 1.5rem;
    margin-left: 0.3rem;
}
a.nav-link.active,
li.nav-item.active{
    color: var(--text-def);
}
a.nav-link{
    font-size: 1.5rem;
    color: var(--text-inv);
    text-decoration: none;
    margin-left: 0.8rem;
}
/* animations */
li.nav-item.active{
    background-color: var(--body-bg);
    color: white;
    position: relative;
}
li.nav-item.active::after,
li.nav-item.active::before{
    /* --border-radius: 1.5vw; */
    --border-radius: 1rem;
    content:'';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: var(--nav-bg);
}
li.nav-item.active::after{
    bottom: calc(var(--border-radius)*-1);
    right: 0;
    border-radius: 0 100vw 0 0;

    /* box-shadow:0.7vw -0.7vw 0 0.7vw red; */
    box-shadow:0.3vw -0.3vw 0 0.3vw var(--body-bg);
    
}
li.nav-item.active::before{
    top: calc(var(--border-radius)*-1);
    right: 0;
    border-radius: 0 0 100vw 0;

    box-shadow:0.3vw 0.3vw 0 0.3vw var(--body-bg);
}



@media screen and (max-width: 1300px) {
    html {
    font-size: 12px;
    }
}
@media screen and (max-width: 850px) {
    html {
        background-color: rgb(61, 61, 61);
        font-size: 16px;
    }
    body{
        display: block;
    }
    nav{
        width: 100vw;
        height: 15vh;
    }
    ul.nav-tabs{
        display: flex;
        flex-direction: row;
        justify-content: flex-start; /* Adjust alignment as needed */

    }
    li{
        margin: 0;
        padding: 1vw;
        background-color: aquamarine;
    }
    li.nav-item.active::after,
li.nav-item.active::before{
    display: none;
}
    main{
        width: 100vw;
        height: 100%;
        margin: 0;
        background-color: rgb(66, 34, 34);
    }
}
/* <---- MAIN ---->*/
main{
    width: 80vw;
    height: 100vh;
    margin-left: 3vw;
}
