:root{
    --nav-bg: #fff; 
    --body-bg: #161616;
    --text-def: #fff;
    --text-inv: #000;

    --small-text: #8d99ae;
    --big-text: #8d99ae;
    --card-br: #212529;
} 

*{
    /* border: 1px solid gray; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Roboto", sans-serif;
    color: var(--big-text);
    background-color: var(--body-bg);

}
body{
    display: flex;
}
/* <----NAVIGATION----> */
#logo1 {
    position: absolute;
    flex-grow: 1;
    flex-shrink: 1;

    left: 50%;
    top: 7%;
    margin: 0.5rem;
    transform: translate(-50%, -50%);

    width: auto;
    height: auto;
    max-width: 10vw;
    max-height: 10vh;
}
#page-name1{
    position: absolute;
    flex-grow: 1;
    flex-shrink: 1;


    left: 50%;
    top: 15%;
    margin: 0.5rem;
    transform: translate(-50%, -50%);

    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: var(--text-inv);
    text-align: center;
}
@media screen and (max-height: 700px) {
    #logo1{
        top:4%
    }
    #page-name1 {
    font-size: 1rem;
    top: 12%;
    }
}
@media screen and (max-height: 500px) {
    #page-name1 {
    font-size: 0.8rem;
    }
}
#logo2{
    display: none;
}
#page-name2{
    display: none;
}
nav{
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color: var(--nav-bg);

    display: flex;
    align-items: center;
    z-index: 2;
}
#dropdown-button{
    display: none;
}
ul.nav-tabs{
    width: 100%;
    list-style: none;
}
li.nav-item{
    margin: 5vh 0 5vh 2vw;

    padding: 1vh;
    border-radius: 100vw 0 0 100vw;
    display: flex;
    align-items: center;
    color: var(--text-inv);
}

span.material-symbols-outlined{
    font-size: 1.5rem;
    margin-left: 0.3rem;
    transition: font-variation-settings 1000ms;
}
a.nav-link.active,
li.nav-item.active{
    color: var(--text-def);
}

a.nav-link{
    font-size: 1.5rem;
    color: var(--text-inv);
    text-decoration: none;
    margin-left: 0.8rem;
    position: relative;
}
a.nav-link::after {
    content: "";
    position: absolute;
    background-color: var(--text-inv);
    height: 3px; 
    width: 0%;
    left: 50%;
    bottom: 0;
    transition: all 450ms ease;
    transform: scaleX(0);
}
li:hover{
    span.material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 900,
        'GRAD' 0,
        'opsz' 48;
    }
    a.nav-link::after {
        width: 100%;
        left: 0;
        transform: scaleX(1);
    }
}

/* li-decoration */
li.nav-item.active{
    background-color: var(--body-bg);
    position: relative;
}
li.nav-item.active::after,
li.nav-item.active::before{
    /* --border-radius: 1.5vw; */
    --border-radius: 1rem;
    content:'';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: var(--nav-bg);
}
li.nav-item.active::after{
    bottom: calc(var(--border-radius)*-1);
    right: 0;
    border-radius: 0 100vw 0 0;

    box-shadow:0.3vw -0.3vw 0 0.3vw var(--body-bg);
    
}
li.nav-item.active::before{
    top: calc(var(--border-radius)*-1);
    right: 0;
    border-radius: 0 0 100vw 0;

    box-shadow:0.3vw 0.3vw 0 0.3vw var(--body-bg);
}

@media screen and (max-width: 1300px) {
    html {
    font-size: 12px;
    }
}
@media screen and (max-height: 550px) and (max-width: 850px){
    nav {
        min-height: 25vh !important;
    }
    ul.nav-tabs.is-visible{
        top: 25vh !important;
        width: 40%;
    }
}
@media screen and (max-width: 850px) {
    html {
        font-size: 10px;
    }
    body{
        display: block;
    }
    #logo1{
        display: none;
    }
    #page-name1{
        display: none;
    }
    #logo2{
        display: block !important;
        position: absolute;
        top: 50%;
        left: 5rem;
        transform: translate(-50%, -50%);
        width: 5rem;
        height: auto;
    }  
    #page-name2{
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--text-inv);
        font-size: 1.5rem;

    }
    #dropdown-button{
        display: block;
        position: absolute;
        background-color: var(--nav-bg);
        border: 0;
        top: 50%;
        right: 3rem;
        transform: translate(-50%, -50%);
        cursor: pointer;

    }
    #icon-button{
        font-size: 4rem;
    }
    nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    height: 15vh;
    }
    ul.nav-tabs {
        display: none;
    }
    ul.nav-tabs.is-visible{
        display: block;
    }
    ul.nav-tabs.is-visible{
    position: absolute;
    top: 15vh;
    right: 0;

    width: 40%;

    background-color: var(--nav-bg);
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.4);
    }
    li.nav-item{
        margin: 0;
        padding: 1.5vh;
        width: 100%;
        border-radius: 0;
        
    }
    li.nav-item.active::after,
    li.nav-item.active::before{
        display: none;
    }
    main{
        margin: 0 0 0 0 !important;
        width: 100vw !important;
        height: 100%;
    }

}
/* <---- MAIN ---->*/
main {
    position: relative;
    width: 80vw;
    height: 100vh;
    margin-left: 18vw;
    margin-top: 1rem;
    overflow: hidden;
}
/* <---SLOGAN---> */
h1.slogan{
position: absolute;
text-align: center;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 70vw;
font-family: "Nunito", sans-serif;
font-weight: 600;
font-size: 3rem;
color: var(--text-def);
background-color: var(--body-bg);
}
#fix-icon{
    font-size: 3.5rem;
    color: yellow;
}
#stop-icon{
    font-size: 3.5rem;
    color: red;
}
#eng-icon{
    font-size: 3.5rem;
    color: green;
}
