:root{
    --nav-bg: #fff; 
    --body-bg: #161616;
    --text-def: #fff;
    --text-inv: #000;

    --small-text: #8d99ae;
    --big-text: #8d99ae;
    --card-br: #212529;

    /* --nav-bg: #000; 
    --body-bg: #003566; 
    --body-bg1: #abc4ff
    
     --body-bg1: #3f5efb;
    */
} 

*{
    /* border: 1px solid gray; */
    margin: 0;
    padding: 0;
}
html{
    font-family: "Roboto", sans-serif;
    color: var(--big-text);
    background-color: var(--body-bg);

}
body{
    display: flex;
}
/* <----NAVIGATION----> */
#logo1 {
    position: relative;
    top: 50%;
    left: 30%;
    bottom: 7vh;

    max-width: 6rem;
    height: auto;
}
#logo2{
    display: none;
}
#page-name{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.5rem;
    font-family: "Lato", sans-serif;

    color: var(--text-inv);
    text-align: center;
}
nav{
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color: var(--nav-bg);

    display: flex;
    align-items: center;
    z-index: 10;
}
#dropdown-button{
    display: none;
}
ul.nav-tabs{
    width: 100%;
    list-style: none;
}
li.nav-item{
    margin: 5vh 0 5vh 2vw;

    padding: 1vh;
    border-radius: 100vw 0 0 100vw;
    display: flex;
    align-items: center;
    color: var(--text-inv);
}

span.material-symbols-outlined{
    font-size: 1.5rem;
    margin-left: 0.3rem;
    transition: font-variation-settings 1000ms;
}
a.nav-link.active,
li.nav-item.active{
    color: var(--text-def);
}

a.nav-link{
    font-size: 1.5rem;
    color: var(--text-inv);
    text-decoration: none;
    margin-left: 0.8rem;
    position: relative;
}
a.nav-link::after {
    content: "";
    position: absolute;
    background-color: var(--text-inv);
    height: 3px; 
    width: 0%;
    left: 50%;
    bottom: 0;
    transition: all 450ms ease;
    transform: scaleX(0);
}
li:hover{
    span.material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 900,
        'GRAD' 0,
        'opsz' 48;
    }
    a.nav-link::after {
        width: 100%;
        left: 0;
        transform: scaleX(1);
    }
}

/* li-decoration */
li.nav-item.active{
    background-color: var(--body-bg);
    position: relative;
}
li.nav-item.active::after,
li.nav-item.active::before{
    /* --border-radius: 1.5vw; */
    --border-radius: 1rem;
    content:'';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: var(--nav-bg);
}
li.nav-item.active::after{
    bottom: calc(var(--border-radius)*-1);
    right: 0;
    border-radius: 0 100vw 0 0;

    box-shadow:0.3vw -0.3vw 0 0.3vw var(--body-bg);
    
}
li.nav-item.active::before{
    top: calc(var(--border-radius)*-1);
    right: 0;
    border-radius: 0 0 100vw 0;

    box-shadow:0.3vw 0.3vw 0 0.3vw var(--body-bg);
}

@media screen and (max-width: 1300px) {
    html {
    font-size: 12px;
    }
}
@media screen and (max-height: 550px) and (max-width: 850px){
    nav {
        min-height: 25vh !important;
    }
}
@media screen and (max-width: 850px) {
    html {
        background-color: var(--body-bg);
        font-size: 10px;
    }
    body{
        display: block;
    }
    #logo1{
        display: none;
    }
    #logo2{
        display: block !important;
        position: absolute;
        top: 5vh;
        left: 5vw;
        width: 5rem;
        height: auto;
    }
    #page-name{
        top: 50%;
        font-size: 2rem;
    }
    #dropdown-button{
        display: block;
        position: absolute;
        background-color: var(--nav-bg);
        border: 0;
        top: 40%;
        right: 10%;
        cursor: pointer;
        transition-duration: 400ms;
    }
    #dropdown-button:focus{
        transform: rotate(90deg);
    }
    #icon-button{
        font-size: 4rem;
    }
    nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    height: 15vh;
    }
    ul.nav-tabs {
        display: none;
    }
    ul.nav-tabs.is-visible{
        display: block;
    }
    ul.nav-tabs.is-visible{
    position: absolute;
    top: 15vh;
    right: 0;

    width: 40%;

    background-color: var(--nav-bg);
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.4);
    }
    li.nav-item{
        margin: 0;
        padding: 1.5vh;
        width: 100%;
        border-radius: 0;
        
    }
    li.nav-item.active::after,
li.nav-item.active::before{
    display: none;
}
    main{

        width: 100vw;
        height: 100%;
        margin: 0 0 0 0 !important;
        padding: 30px;
        background-color: var(--body-bg);
    }
}
/* <---- MAIN ---->*/
main{
    width: 80vw;
    height: 100vh;
    margin-left: 18vw;
    margin-top: 1rem;
}
/* <---SLOGAN---> */
h1.slogan{
    text-align: center;
    margin-top: 2vh;
font-family: "Nunito", sans-serif;
font-weight: 600;
font-size: 4rem;
color: var(--text-def);
}
span.slogan{
    background-color: var(--text-def);
    color: var(--text-inv);
    padding: 0 1rem;
}
/* <---IMG-CONTAINER---> */
div.img-container{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-evenly;

}
div.element{
    position: relative;
    height: 35rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    transition-duration: 450ms;
}
span.price-tag{
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: 5rem;
    height: 3rem;
    border-radius: 1.5rem 0 1.5rem 0;

    color: var(--text-inv);
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    
    transition-duration: 450ms;

}
img.img-container{
    max-width: 30rem;
    height: auto;
    border-radius: 1.5rem;
    transition-duration: 450ms;
}
button.more-info{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
    height: 3rem;
    border-radius: 1.5rem;
    padding: 0.5rem 5rem;
    border: 0;
    background-color: var(--text-inv);
    color: var(--text-def);

    font-size: 1.2rem;
    text-wrap: nowrap;

    transition-duration: 450ms;
    cursor: pointer;
}
div.info-div{
    position: absolute;
    bottom: -1px;

    height: 3rem;
    width: 100%;
    border-radius: 1.5rem;

    background-color: var(--text-def);
    color: var(--text-inv);

    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    transition-duration: 450ms;
}
div.element:hover{
    background-color: #e8e8e8;
    img.img-container{
        opacity: 40%;
    }
    button.more-info{
        display: block;
    }
    div.info-div, span.price-tag{
        background-color: var(--text-inv);
        color: var(--text-def);
    }
}

@media screen and (max-width: 1300px) {
    div.element{
        max-height: 31rem;
    }
    img.img-container{
        max-width: 26rem;
    }
}
footer{
    margin-left: -5vw;
    width: 100vw;
    height: 5rem;
    background-color: var(--text-def);

    font-size: 1rem;
    line-height: 5rem;
    color: var(--text-inv);
    text-align: center;

}